@import "tailwindcss";
@plugin "daisyui";

.container{
  max-width:1440px;
  width: 100%;
  margin:auto;
  padding:0 20px;
}

.bg-img{
  background-image:url('https://i.ibb.co/tTYbYVF3/room5.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;

  background-position:center center;

}

.overlay {
  background: rgba(0, 0, 0, 0.5); /* Only background dark, text unaffected */
  padding: 120px 0;
}